DATABASE_URL="postgresql://postgres.<ref>:<password>@aws-0-<region>.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.<ref>:<password>@aws-0-<region>.pooler.supabase.com:5432/postgres"

FT_OAUTH_CLIENT_ID=
FT_OAUTH_CLIENT_SECRET=
FT_OAUTH_REDIRECT_URI=http://localhost:3000/auth/42/callback

JWT_SECRET=
FRONTEND_URL=http://localhost:5173
PORT=3000

SIGN_BONUS_ATTEMPTS=1
SIGN_TOKEN_TTL=60

FT_CAMPUS_ID=31
EXTRA_LOGINS=
FT_POOL_MONTH=
FT_POOL_YEAR=
POOL_SYNC_ON_BOOT=true

HIDDEN_LOGINS=edubois-
